<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
</head>
<body>
  <h1>My Blog</h1>
  
  
    <div>
      <h2> <a href='{{ home-url }}'>home</a> </h2>
      <div>
        
      </div>
    </div>
   
</body>
</html>
  
